# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Ambiente virtual
venv/
.venv/
env/

# Variáveis de ambiente
.env

# Banco de dados / persistência local
*.sqlite3
*.db

# Testes e cobertura
.pytest_cache/
.coverage
htmlcov/

# IDEs e editores
.vscode/
.idea/
*.swp

# Sistema operacional
.DS_Store
Thumbs.db